<app-choose-players *ngIf="(activeRound$ | async)._id === 'start' && (rounds$ | async).length === 0; else restRounds">
</app-choose-players>

<ng-template #restRounds>
  <app-round-wrapper *ngFor="let player of (players$ | async)" [ngSwitch]="(activeRound$ | async)._id"
    [roundId]="(activeRound$ | async)._id" [playerId]="player._id">
    <app-round-routes *ngSwitchCase="'routes'" [roundId]="(activeRound$ | async)._id" [playerId]="player._id"></app-round-routes>
    <app-round-length *ngSwitchCase="'length'" [roundId]="(activeRound$ | async)._id" [playerId]="player._id"></app-round-length>
    <app-round-stations *ngSwitchCase="'stations'" [roundId]="(activeRound$ | async)._id" [playerId]="player._id"></app-round-stations>
    <app-round-cars *ngSwitchCase="'cars'" [roundId]="(activeRound$ | async)._id" [playerId]="player._id"></app-round-cars>
  </app-round-wrapper>
</ng-template>