<app-choose-players *ngIf="(activeRoundId$ | async) === 'start' && (rounds$ | async).length === 0; else restRounds">
</app-choose-players>

<ng-template #restRounds>
    <!-- <app-round-wrapper *ngFor="let player of (players$ | async)" [ngSwitch]="(activeRoundId$ | async)"
      [roundId]="(activeRoundId$ | async)" [playerId]="player._id"> -->
  <app-round-wrapper [ngSwitch]="(activeRoundId$ | async)"
    [roundId]="(activeRoundId$ | async)" [playerId]="(activePlayerId$ | async)">
    <app-round-routes *ngSwitchCase="'routes'" [roundId]="(activeRoundId$ | async)" [playerId]="(activePlayerId$ | async)"></app-round-routes>
    <app-round-length *ngSwitchCase="'length'" [roundId]="(activeRoundId$ | async)" [playerId]="(activePlayerId$ | async)"></app-round-length>
    <app-round-stations *ngSwitchCase="'stations'" [roundId]="(activeRoundId$ | async)" [playerId]="(activePlayerId$ | async)"></app-round-stations>
    <app-round-cars *ngSwitchCase="'cars'" [roundId]="(activeRoundId$ | async)" [playerId]="(activePlayerId$ | async)"></app-round-cars>
  </app-round-wrapper>
</ng-template>